.bg-custom{
  background-color: white;
}

.custom-logo-size {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* The height will scale proportionally based on the width */
}

/* Стилі для контейнера, що перекриває екран */
.offcanvas-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* Встановлюємо високий z-index, щоб контейнер був поверх інших елементів */
  background-color: rgba(0, 0, 0, 0.5); /* Задній фон буде розмитим через альфа-канал */
  backdrop-filter: blur(8px); /* Задній фон буде розмитим */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

/* Клас "show" додається під час відкриття меню */
.offcanvas-menu.show {
  visibility: visible;
  opacity: 1;
}